/* css for background picture */
body {
    background-image: url(./media/grocery.jpeg);
    background-size: cover; 
    background-position: center; 
    color: #fff
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
  }
  .header {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
  }

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(144, 238, 144);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    width: 35%; /* space in between boxes */
    background-color: rgb(144, 238, 144); 
    padding: 20px;
    margin-bottom: 20px;
}
.header{
    color: rgb(144, 238, 144);
    text-align: center;

}
.header2{
    font-size: x-large;
    font-weight: bold;
    color: rgb(144, 238, 144) ;
    text-align: center; 
    margin-top: 50px;  
    }
.center-image{
    padding: 20px;
    align-items: center;
    max-width: 100vw;
    max-height: auto;
}
    
